<!DOCTYPE html>
<html>
<div class="github-branch">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <center>
                <h3>Branch Master</h3>
                <a href="https://github.com/Dat17B/CodeExamples">Link Here</a>
            </center>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Branch Collections</h3>
            <a href="https://github.com/Dat17B/CodeExamples/tree/Collections">Link Here</a>
        </div>
        <div class="col-sm-6">
            <h3>Branch GroceryList</h3>
            <a href="https://github.com/Dat17B/CodeExamples/tree/GroceryList">Link Here</a>
        </div>
    </div>
</div>

</html>