<!DOCTYPE html>
<html>
<div class="github-branch">
    <div class="row">

        <div class="col-sm-12">
            <h3>Master</h3>
            <a href="https://github.com/Dat17B/CodeExamples">Go to Branch</a>
            <p>Description or image</p>
        </div>

    </div>
    <div class="row">
        <div class="col-sm">
            <h3>Collections</h3>
            <a href="https://github.com/Dat17B/CodeExamples/tree/Collections">Link Here</a><br />
            <p>Description or image</p>
        </div>
        <div class="col-sm">
            <h3>GroceryList</h3>
            <a href="https://github.com/Dat17B/CodeExamples/tree/GroceryList">Link Here</a><br />
            <p>Description or image</p>
        </div>
        <div class="col-sm">
            <h3>Code from the book chapter 16</h3>
            <a href="https://github.com/Dat17B/CodeExamples/tree/CodeFromBookCh16">Link Here</a><br />
            <p>Description or image</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>NOT DONE</h3>
            <a href="#">Link Here</a><br />
            <p>Description or image</p>
        </div>
        <div class="col-sm">
            <h3>NOT DONE</h3>
            <a href="#">Link Here</a><br />
            <p>Description or image</p>
        </div>
    </div>
</div>

</html>