<!DOCTYPE html>
<html>
<div class="row">
    <h1>1. Semester slideshows</h1>
</div>
<div class="row">
    <p>Here you can find a list of slideshows</p>
</div>
<div class="row">
    <div class="col-sm">
        <ol>
            <li><a href='https://docs.google.com/presentation/d/e/2PACX-1vRRQgN0KLf4A__Y0cXv21iQ0YY5ySRAhPvGu5sZNP6smJsANZK8Od9d8wKgoNmFiXehaQ13IT8zVU_S/pub?start=false&amp;loop=false&amp;delayms=3000'>Day 01</a></li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vT70i7rR4_8CMzpRcvj3hy2hDMQoOhbN7b4lsnU1T2K4684LM_HmpjHeTMyWJs5RC0EbYHEqySVfZBB/pub?start=false&amp;loop=false&amp;delayms=3000">Day 02</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vRy9QEjSo-jzB04PDFGu8Rp6f3B5xPCNp37vjtvv4jW5iC1tzPxefDlgIoQ6OFoWg5YcN6o6dNj5uJp/pub?start=false&amp;loop=false&amp;delayms=3000">Day 03</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vTc_lY619DQCnh0ASMiw3aMpqY5n5mQgCE-ZyOJaptla1pY8ff1cjvK7lHZWTze4dgNTRPNDKLpbKTj/pub?start=false&amp;loop=false&amp;delayms=3000">Day 04</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vRerG0pL7wX5wpPX1UoJOJFe5SBSFENEYRLwmRrlSTTG_ECLPg1XFPfkUp0H3fWE6jYcPxnEcXQWhob/pub?start=false&amp;loop=false&amp;delayms=3000">Day 05</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vTf-1Eyksh8l_KsJg1VBORTKedykRkltVvIJjRjjo-LVVdOD8Tb7TG72DwW9ruH1-aRxw99Fx9U1Ax7/pub?start=false&amp;loop=false&amp;delayms=3000">Day 06</a>
            </li>
            <!-- after the 6th li -->
        </ol>
    </div>
    <div class="col-sm">
        <ol>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vTAPf4C9LGX-3wviQitXbU30qzHlm9R4-wbtwbqsR1am86tMg-qHvrgaIcCkiOR0BaLMv_Antun5e5j/pub?start=false&amp;loop=false&amp;delayms=3000">Day 07</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vRUuEWD3mgTl7spHubUOyqJoQJDp4v2IzQ5YtSF2OnXUmHzmXRdpBnqDaSfCdDMpi6jOBO08s7ys08R/pub?start=false&amp;loop=false&amp;delayms=3000">Day 08</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vTo5qvflVwGfwxovNlE2Hi_o511G3mmmPeevjQVRZ7rjsTAkCMXBQthljs8jtyjRDdqItSQxKLLWwKg/pub?start=false&amp;loop=false&amp;delayms=3000">Day 09</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vRLb8OQjBYO60yqbcM3WrxClDRiU8_HpAbZlmNvhJe-nkyXzSRMWSuwpBpTsrZCG_w2YC4-32HYtpms/pub?start=false&amp;loop=false&amp;delayms=3000">Day 10</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vRCjJ-Ho7b_IKwHUrroyER4jrwSb35Ly0374MYpyHVzS-Z7Sjb8v_cRckC5-SLlmXymtfIwYgDechEt/pub?start=false&amp;loop=false&amp;delayms=3000">Day 11</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vSTQBBxaHW_spuNyERrdgoIyc87DPB4Vj_FuaJPiycMJm54jjFtajx9j00zSnv9KpSRIarDkzmfUuRQ/pub?start=false&amp;loop=false&amp;delayms=3000">Day 12 - NOT USED</a>
            </li>
            <!-- after the 12th li -->
        </ol>
    </div>
    <div class="col-sm">
        <ol>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vTGcnmxibE3SVSg8iA9d0YWAJWKxdc_QmrXTPlm9ykBPxLf38u9Y-ru6KnU5DVRBN-eSdSC6uBqGlTz/pub?start=false&amp;loop=false&amp;delayms=3000">Day 13</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vQ9tR00DRjhQEOOrheRVKqpZbE4G-Yo4NZJwnGxV1teX-oPRzpwXZpm1m6jeXGE2IuemP96h0GDxFL-/pub?start=false&amp;loop=false&amp;delayms=3000">Day 14</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vResm9fvTbHzSrPGFgcA5C3pSdFwTq6dF9ijcy49HCqwJmodRLn_qskshsS-8FHAowbKcoGADUUsbHN/pub?start=false&amp;loop=false&amp;delayms=3000">Day 15</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vQSLLbHb67ErW6Q-BtOCKqxP38P0pYezMoTALwgkwEGGUj9V7RC0DU_zMr7paFF_vZ8okdBRTmMwVrn/pub?start=false&amp;loop=false&amp;delayms=3000">Day 16</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vS8etK38Uo2mvubYvJ0ii83iz-z4d0WCTldaFG8ZFmf1W4PLnULPf1ASNuF1Gz2Sdk2Hvnj7cQmhbGp/pub?start=false&amp;loop=false&amp;delayms=3000">Day 17</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vQw5qIrCx6AgupVwD9a2ISsUOFJtaetoSzz-8g0QQYbBiNWYDJ0GLIDc_rdY2Chmy5yYiyxPcxdGfuQ/pub?start=false&amp;loop=false&amp;delayms=3000">Day 18</a>
            </li>
            <!-- after the 18th li -->
        </ol>
    </div>
    <div class="sm">
        <ol>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vT2tshkZuA2_q4blkNdn9ifGEJrkFn1wdZPpahHCAxyhFfv-d8-rbSGhQ3jYSf3uM2xtUpQPqUYjxHE/pub?start=false&amp;loop=false&amp;delayms=3000">RPG Recap</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/e/2PACX-1vQdXwh--Zwt0tGC_kRYA5_nTxwcm8tcS3ooNAL2gUDYsUXBhCIfp34Z2VRqHXqJvTHgx7ZmGUOBXp80/pub?start=false&amp;loop=false&amp;delayms=3000">Extra Recap</a>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm" id="slidecontent">

    </div>
</div>
<script>
    $(function() {
        $('ol li a').on('click', function(e) {
            e.preventDefault();
            var page = $(this).attr('href');
            $('#slidecontent').load(page);
        });
    });
</script>

</html>