<!DOCTYPE html>
<!-- Header row for this page -->
<html>
<div class="row content-boxes">
    <div class="col-sm-12">
        <center>
            <h2>Home page content</h2>
        </center>
    </div>
</div>
<div class="row content-boxes">
    <div class="col-sm-4">
        <h3>Overview</h3>
        <p>Find information about</p>
        <ul>
            <li>slide shows from both semesters</li>
            <li>code examples</li>
            <li>syntax of assignment hand in</li>
            <li>google drive links</li>
        </ul>
    </div>
    <div class="col-sm-1">
        <!-- Intermedia -->
    </div>
    <!-- How to hand in black assignment -->
    <div class="col-sm-7">
        <h3>Assignment Syntax</h3>
        <p>[StudyMailName]_Exercise_[BookLetter]_[ChapterNumber]_[ExerciseNumber]
            <br /> <b>Example</b><br /> troe2725_Exercise_a_11_2 / troe2725_a_11_2
        </p>
    </div>
</div>
<div class="row content-boxes">
    <!-- Google Drive Links -->
    <div class="col-sm-4">
        <h3>Google Drive Links</h3>
        <ul>
            <li>Slide shows</li>
            <li><a href="https://drive.google.com/drive/folders/0B2oVrmfs9oa9dW82bUhabER5RVk?usp=sharing">1.Semester</a></li>
            <li><a href="https://drive.google.com/drive/folders/12QB6bKv97xqxxTaZyibu4l5d4a86D63p?usp=sharing">2.Semester</a></li>
        </ul>
    </div>
    <div class="col-sm-1">
        <!-- Intermedia -->
    </div>
    <!-- Links and information about the links -->
    <div class="col-sm-7">
        <h3>Other stuff</h3>
        <p>Find links and to stuff we need or can use<br />
        </p>
        <ul>
            <li><a href="http://www.buildingjavaprograms.com/code-files/4ed/ch11/">Chapter 11 files</a> from the book Java</li>
        </ul>
    </div>
</div>
<div class="row content-boxes">
    <!-- Google Drive Links -->
    <div class="col-sm-4">
        <h3>Repositories</h3>
        <ul>
            <li><a href="https://github.com/Dat17B/CodeExamples">Code examples</a></li>
            <li><a href="https://github.com/Dat17B/RPG-DD-Dat17B">RPG DD Dat17B</a></li>
            <li><a href="https://github.com/Dat17B/sql_scripts">SQL Scripts</a></li>
            <li><a href="https://github.com/Dat17B/spring_agenda">Spring Agenda</a></li>
        </ul>
    </div>
    <div class="col-sm-1">
        <!-- Intermedia -->
    </div>
    <!-- Links and information about the links -->
    <div class="col-sm-7">
        <h3>SQL w3schools</h3>
        <ol>
            <li>
                <a href="https://drive.google.com/file/d/1ZXwaA7E5oOJPixlnQ78WAUvgKEdvBTKT/view?usp=sharing" target="_blank">Diagram of static DB</a>
            </li>
        </ol>
    </div>
</div>

</html>