<!-- Header row for this page -->
<div class="row">
    <div class="col-sm">
        <h2>Home - Content </h2>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <h3>Overview</h3>
        <p>Find information about</p>
        <ul>
            <li>slide shows from both semesters</li>
            <li>code examples</li>
            <li>syntax of assignment hand in</li>
            <li>google drive links</li>
        </ul>
    </div>
    <!-- How to hand in black assignment -->
    <div class="col-sm">
        <h3>Assignment Syntax</h3>
    </div>
</div>
<div class="row">
    <!-- Google Drive Links -->
    <div class="col-sm">
        <h3>Google Drive Links</h3>
        <ul>
            <li>Slide shows</li>
            <li><a href="https://drive.google.com/drive/folders/0B2oVrmfs9oa9dW82bUhabER5RVk?usp=sharing">1.Semester</a></li>
            <li><a href="https://drive.google.com/drive/folders/12QB6bKv97xqxxTaZyibu4l5d4a86D63p?usp=sharing">2.Semester</a></li>
        </ul>
    </div>
    <!-- Links and information about the links -->
    <div class="col-sm">
        <h3>Other stuff</h3>

    </div>
</div>