<!DOCTYPE html>
<html>
<div class="row">
    <h1>1. Semester slideshows</h1>
</div>
<div class="row">
    <p>Here you can find a list of slideshows</p>
</div>
<div class="row">
    <div class="col-sm">
        <ul>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vSA9EgT5knfIfDnBGZlWKteBrqvBg-jXbdf1sUJAQ1gSZQUaZ9cYFt2CJs5nOTwxNCVUEsGNHnQexqh/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank">01a. Introduction and stuff</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vSHdtpyFQXqjFhn73Z3LwTJ6n2FQmwoNJJh5N3jVC8J40b1nRVFItK0gczgwgt8AtpeN-YZ_vVQrN06/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank">01b. First semester recap</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vRMwuwPF9yt5ZFdBcvVTaT-_eRL_P_roExI4-Q8fDA3imKpKPbdL3Gz2dz15Bj2zktFMgWMBzwu_-ej/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank">02a. Collections - Part A</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vSCUX68aS779974XfYBQuOriwKpcMSQQPxECQjmfjLB2FYJHwQRG-bzyuxkAEdoRae2jNgZSOdyZJ9_/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank">02b. Collections - Part B</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vRAXPfvsMm80Gio2UI8wD_sQ3URe-UaS7OjlY9YLT0Q-r0uA0JYcav0m7UvJXdNZ5_h9luJacbxSGvS/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank">03a. Stuff and Git</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vS78UchBUlc28wzpQDXay5NwedFR_B6Z2rPuRfz9HAAMM94gVyxAL-peFMYgmzkJGyTG_0RePgysEXt/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank">03b. Red and next time</a></li>
        </ul>
        <!-- Only 6 links here and then go to the next div -->
    </div>
    <div class="col-sm">
        <ol>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vT58yfB_gVcsu_w3fQqTt1aO3p5HrNFIF7yd4iHm6_LjvLXGT6h3J9p6Fv8k6K0Ij9WK3JGQDHZc1dS/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank">04a. Intro - Threads</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vRixbDGSQ8TJhRvN5Sw97rj3YbBu_Wtnsab_9ryidhd1OAX0nzA-6AzdPvv-fd6tojj2Bc2RqkPGD1F/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank">04b. Threads</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vQ_wqHba2AkoTgQ7uChGt4KvNXo9mFl2s44-VBrp27rMDNOI65hJfMi_p4h7pVbvzT4PgGmUKmYKeGo/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank">05a. Intro - Exceptions</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vRcGbFI1_l9X-P5OBVcEDCb4B4JKHVUOA-7s7miO2XybSiu9Bgr6i0TqmWUfQSnlMZLlIDbYfh3vcYc/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank">05b. Exceptions</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vR9oL-UNnpQu2bm057If7OmEHm2t127KnLZa1DiwAxiV2x8Aw6__PLL-fHOLcRjgEXj7JnrwQ7hs4Mq/pub?start=false&amp;loop=false&amp;delayms=5000" target="_blank">06a. Databases</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vR9oL-UNnpQu2bm057If7OmEHm2t127KnLZa1DiwAxiV2x8Aw6__PLL-fHOLcRjgEXj7JnrwQ7hs4Mq/pub?start=false&amp;loop=false&amp;delayms=5000" target="_blank">06b. Relational Database</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vR9oL-UNnpQu2bm057If7OmEHm2t127KnLZa1DiwAxiV2x8Aw6__PLL-fHOLcRjgEXj7JnrwQ7hs4Mq/pub?start=false&amp;loop=false&amp;delayms=5000" target="_blank">06c. SQL Data Manipulation</a></li>
        </ol>
    </div>
</div>

</html>