<!DOCTYPE html>
<html>
<div class="row">
    <h1>1. Semester slideshows</h1>
</div>
<div class="row">
    <p>Here you can find a list of slideshows</p>
</div>
<div class="row">
    <div class="col-sm">
        <ol>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vSA9EgT5knfIfDnBGZlWKteBrqvBg-jXbdf1sUJAQ1gSZQUaZ9cYFt2CJs5nOTwxNCVUEsGNHnQexqh/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank">Introduction and stuff</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vSHdtpyFQXqjFhn73Z3LwTJ6n2FQmwoNJJh5N3jVC8J40b1nRVFItK0gczgwgt8AtpeN-YZ_vVQrN06/pub?start=false&amp;loop=false&amp;delayms=3000">First semester recap</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vRMwuwPF9yt5ZFdBcvVTaT-_eRL_P_roExI4-Q8fDA3imKpKPbdL3Gz2dz15Bj2zktFMgWMBzwu_-ej/pub?start=false&amp;loop=false&amp;delayms=3000">Collections - Part A</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vSCUX68aS779974XfYBQuOriwKpcMSQQPxECQjmfjLB2FYJHwQRG-bzyuxkAEdoRae2jNgZSOdyZJ9_/pub?start=false&amp;loop=false&amp;delayms=3000">Collections - Part B</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vRAXPfvsMm80Gio2UI8wD_sQ3URe-UaS7OjlY9YLT0Q-r0uA0JYcav0m7UvJXdNZ5_h9luJacbxSGvS/pub?start=false&amp;loop=false&amp;delayms=3000">Stuff and Git</a></li>
            <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vS78UchBUlc28wzpQDXay5NwedFR_B6Z2rPuRfz9HAAMM94gVyxAL-peFMYgmzkJGyTG_0RePgysEXt/pub?start=false&amp;loop=false&amp;delayms=3000">Red and next time</a></li>
            <li>
                <a hre="#"></a>
            </li>
            <li>
                <a hre="#"></a>
            </li>
            <li>
                <a hre="#"></a>
            </li>
            <li>
                <a hre="#"></a>
            </li>
        </ol>
        <!-- Only 6 links here and then go to the next div -->
    </div>
    <div class="col-sm">
        <ol></ol>
    </div>
</div>

</html>